# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Entornos
.env
.env.*
!.env.example

# Compilados / builds
dist/
build/
coverage/

# Vite/Cache locales
client/.vite/
client/.cache/

# SO
.DS_Store
Thumbs.db
